.nav-bar-digital-board{
    background-color: indigo; 
}
#text-nav a{
    color: white;
}

#btn-logout{
    color: white;
    background-color: indigo;
    border: none;
    box-shadow: 5px 2px 27px 0px rgba(0,0,0,0.28);
    -webkit-box-shadow: 5px 2px 27px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 5px 2px 27px 0px rgba(0,0,0,0.28);
}